[user]
	name = Oleksandr Chekhovskyi
	email = oleksandr.chekhovskyi@gmail.com
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = true
[rebase]
	autoStash = true
[include]
	path = ~/.gitconfig.local
